

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

       <ion-item>
     <ion-label>Select an Option</ion-label>
     <ion-select>
       <ion-select-option value="option1">Option 1</ion-select-option>
       <ion-select-option value="option2">Option 2</ion-select-option>
       <ion-select-option value="option3">Option 3</ion-select-option>
     </ion-select>
   </ion-item>


</ion-content>
